
<%-include('header')%>
<h3 class='text-center text-white mt-5' style='font-family: serif'>Express Session Base Auth</h3>
<h6 class='text-center text-white mt-3' style='font-family: serif'>Welcome Back <%=user.username%></h6>
<h6 class='text-center text-white mt-3' style='font-family: serif'>
    <a class='text-white' href='http://localhost:8080/logout'>Logout</a>
    </h6>
<%-include('footer')%>